#app {
    .unit-code {
        .show-detail {
            height: 590px;
        }
        .hide-detail {
            height: 0;
            transition: height 0.3s;
        }
    }
    .unit-code .content>ul>li {
        width: 100%;
        height: initial;
        label {
            width: 100px;
            font-weight: bold;
            font-size: 14px;
        }
        ul {
            width: calc(100% - 120px);
            line-height: 20px;
            .CodeMirror{
            	height: 200px;
            }
        }
        &:nth-child(1),&:nth-child(2){
            ul{
                line-height: 34px;
            }
        }
        &:nth-child(2){
            margin-top: 0px;
            margin-bottom: 20px
        }
        button {
            padding: 2px 10px;
            border: 1px solid #333;
            background: #fff;
            background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
            background-repeat: repeat-x;
            border-color: #ccc;
            font-size: 13px;
            border-radius: 3px;
            height: 30px;
            line-height: 30px;
            margin-left: 120px;
            &:active {
                background-color: #e0e0e0;
                background-position: 0 -15px;
                border-color: #adadad;
            }
        }
    }
}