include ./common/docHead

+docHead({
	title:'pagemaker',
	keywords:'制作工具,pagemaker,h5页面制作',
	description: '触屏版信息页::制作工具',
	favicon: '/build/favicon.ico',
	cssFile: ['http://www.pagemaker.wty90.com/build/main.css']
})
body
	#app
	+jsFile(['http://www.pagemaker.wty90.com/build/main.js'])
