include ./common/docHead

+docHead({
	title:'h5动效页',
	keywords:'h5|动效页',
	description: 'h5动效页',
	cssFile: ['/public/stylesheets/style.css'],
	jsFile: ['/public/javascripts/jquery-2.2.4.js']
})

block aaa
	h1 #{data.title}
	p #{data.title}页面暂未开发，敬请期待
	p 已经开发的网页如下：
	a(href='/genpages') pagemaker页面制作工具
