include ./common/docHead

+docHead({
	title:'前端工具集',
	keywords:'前端工具集',
	description: '前端工具集',
	favicon: '/src/img/favicon.ico',
	cssFile: ['/public/stylesheets/style.css'],
	jsFile: ['https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js']
})

block aaa
	h1 欢迎访问#{data.title}
	p 已经开发的网页如下：
	a(href='/') pagemaker页面制作工具
