include ./common/docHead

+docHead({
	title:'已经发布的页面',
	keywords:'已经发布的页面',
	description: '已经发布的页面',
	favicon: '/src/img/favicon.ico',
	cssFile: ['/public/stylesheets/style.css'],
	jsFile: ['https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js']
})

block aaa
	- var existDirname = data.existDirname;
	h1 #{data.title}
	ol
		each val, index in existDirname
			li
				a(href='/release/' + val + '.html')=  val
	
