include ./common/docHead

+docHead({
	title:'用户中心',
	keywords:'用户中心',
	description: '用户中心',
	cssFile: ['/public/stylesheets/style.css'],
	jsFile: ['/public/javascripts/jquery-2.2.4.js']
})

block aaa
	h1 #{data.title}
	p #{data.title}页面暂未开发，敬请期待
