#app .unit-textbody {
    .show-detail{
        height: 440px;
    }
    .title-part {
        height: initial;
    }

    textarea {
        width: 500px;
        max-width: 763px;
        height: 70px;
        max-height: 200px;
        box-sizing: border-box;
        padding: 8px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
        line-height: 1.4;
    }

    .example-btn {
        position: absolute;
        top:0;
        right: -70px;
        width: 70px;
        height: 100%;
        background-color: #ccc;
        color: #555;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
        a{
            cursor: pointer;
        }
    }
}
