#app {
    width: 100%;
	margin: 0 auto;
	text-align: center;
	.m-body{
		min-height: calc(100vh - 100px);
		width: 90%;
		max-width: 1600px;
		min-width: 990px;
		padding: 10px 0;
		margin: 0 auto;
	}
	.mask{
		position: fixed;
	    display: none;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    background: rgba(0,0,0,.8);
	    z-index: 15;
	}
}
.m-body{
	// 解决antd污染全局样式，默认所有都是border-box
	*{
		box-sizing: content-box;
	}
}