@media screen and (max-width: 800px) {
    #app #main {
        header {
            font-size: 14px;
            line-height: 40px;
            height: 40px;
            >* {
                line-height: 40px;
                height: 40px;
            }
            .aside-unitList {
                display: inline-block;
                position: absolute;
                left: 5px;
                top: 0px;
                padding: 0 10px;
            }
            .goHome {
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -80px;
                padding-left: 0;
                font-size: 16px;
                i{
                    font-size: 20px;
                }
            }
            .user {
                line-height: 44px;
                font-size: 12px;
                padding-right: 20px;
                a:hover {
                    color: inherit;
                }
            }
        }
        .m-body {
            min-width: 0px;
            width: 100%;
            box-sizing: border-box;
            padding: 15px 10px;
            min-height: calc(100vh - 80px);
            .m-units-list {
                position: fixed;
                width: 200px;
                top: 0;
                height: 100%;
                box-sizing: border-box;
                overflow: scroll;
                left: -200px;
                -webkit-transition: left .3s;
                transition: left .3s;
                z-index: 20;
                min-height: 0;
                border: none;
                border-radius: 0px;
                text-align: left;
                color: white;
                ul {
                    padding: 100px 0;
                    background: url(../img/bg.jpg) center center no-repeat;
                    background-size: 100% 100%;
                    box-sizing: border-box;
                }
                ul:before {
                    content: '组件列表';
                    display: block;
                    font-size: 16px;
                    padding-left: 30px;
                    letter-spacing: 5px;
                    padding-bottom: 20px;
                }
                ul li {
                    padding: 12px 20px 12px 35px;
                    &:hover {
                        background-color: inherit;
                    }
                    &:active {
                        background-color: #d15a41;
                    }
                    i {
                        color: #fff;
                        margin-right: 15px;
                    }
                }
            }
            .m-content {
                width: 100%;
                margin: 0;
                #J_preview {
                    user-select: none;
                    transition: transform 0.4s;
                    -webkit-transition: -webkit-transform  0.4s;
                    touch-action: none;
                    z-index: 10;
                    position: fixed;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background: #ffdfb4;
                    bottom: 80px;
                    right: 35px;
                    border-radius: 50%;
                    i{
                        color: #337ab7;
                        font-size: 20px;
                    }
                }
            }
            @keyframes zoomInDown {
                from {
                    opacity: 0;
                    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
                    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
                }

                60% {
                    opacity: 1;
                    transform: scale3d(.6, .6, .6) translate3d(0, 60px, 0);
                    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
                }
            }
            .m-preview {
                display: none;
                right: 50%;
                margin-right: -186px;
                z-index: 20;
                animation: zoomInDown 0.5s;
            }
            #unitMain {
                .unit-common {
                    .header {
                        font-size: 14px;
                        height: 28px;
                        line-height: 28px;
                        .icon-zhankaianniu {
                            font-size: 14px;
                        }
                        .icon-shanchu1,
                        .icon-fuzhi,
                        .icon-yidong {
                            visibility: visible;
                            margin-right: 15px;
                        }
                        .icon-iconfontbi {
                            display: none;
                        }
                        .icon-shanchu1 {
                            margin-right: 20px;
                        }
                        >input {
                            width: 65px;
                            height: 28px;
                            font-size: 14px;
                            padding: 0;
                        }
                    }
                    .content {
                        width: 100%;
                        >ul>li {
                            >label {
                                width: 20%;
                            }
                            >input {
                                width: 75%;
                                height: 30px;
                                margin: 2px 0;
                                padding: 4px 20px 4px 5px;
                                font-size: 12px;
                            }
                            >.input-color {
                                width: 88px;
                                margin-left: 5%;
                            }
                            .rc-color-picker-wrap {
                                float: left
                            }
                            >ul {
                                width: 75%;
                                input {
                                    font-size: 12px;
                                    vertical-align: middle;
                                }
                                label {
                                    padding-left: 3px;
                                }
                                .label-left {
                                    margin-left: 10px;
                                    label {
                                        padding-right: 4px;
                                        padding-left: 0px;
                                    }
                                    input[type=text] {
                                        width: 35px!important;
                                        height: 30px;
                                        margin: 2px 0;
                                        padding: 4px 5px;
                                        font-size: 12px;
                                    }
                                }
                                .label-left:first-child {
                                    margin-left: 0px;
                                }
                            }
                            .audio-position li {
                                margin-left: 10px;
                                &:first-child {
                                    margin-left: 0px;
                                }
                            }
                            .other-set2 li {
                                margin-left: 10px;
                                &:first-child {
                                    margin-left: 0px;
                                }
                            }
                        }
                        >ul {
                            padding: 20px 10px;
                            .title-part>ul>li {
                                width: 100%;
                                textarea {
                                    width: calc(100% - 50px);
                                    padding: 5px;
                                    font-size: 12px;
                                    line-height: 1.6;
                                }
                                .example-btn {
                                    width: 50px;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
                .unit-meta .header {
                    padding-left: 15px;
                }
                .unit-code {
                    .show-detail {
                        height: 500px;
                    }
                    .content {
                        >ul>li{
                            font-size: 12px;
                            >label {
                                width: 60px;
                                font-size: 12px;
                                line-height: 20px;
                            }
                            >ul {
                                line-height: 20px;
                                width: calc(100% - 80px);
                                .CodeMirror {
                                    height: 150px;
                                }
                            }
                            &:nth-child(1),&:nth-child(2){
                                ul{
                                    line-height: 18px;
                                }
                            }
                            &:nth-child(2){
                                margin-top: 10px;
                            }
                        }
                        button {
                            margin-left: 80px;
                            padding: 2px 7px;
                            height: 25px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
        footer {
            height: 40px;
            .copyright {
                line-height: 40px;
                height: 40px;
            }
        }
    }
    .publish-dialog .ant-modal-content {
        .ant-modal-body {
            padding: 30px 20px 10px 50px;
            width: 100%;
            .dirname {
                height: 80px;
                p {
                    bottom: 25px;
                    line-height: 17px;
                }
            }
        }
    }
    .clean-dialog .ant-modal-content {
        .ant-modal-body {
            padding: 20px 20px 10px;
            width: 100%;
            .clear-info {
                margin-bottom: 10px;
                height: 100px;
                p {
                    bottom: 25px;
                    line-height: 17px;
                }
                ul {
                    margin-top: 5px;
                }
            }
        }
    }
    .ant-modal-content>.ant-modal-body .ant-confirm-content {
        margin-left: 5px;
        margin-top: 20px;
        p {
            word-wrap: break-word;
        }
    }
}