@media screen and (max-width: 800px) {
    #app #main {
        header {
            font-size: 14px;
            line-height: 40px;
            height: 40px;
            >* {
                line-height: 40px;
                height: 40px;
            }
            .goHome {
                font-size: 20px;
                padding-left: 0px;
                margin-left: 50px;
            }
            .links {
                display: none;
            }
            .user {
                padding-right: 20px;
            }
        }
        .m-body {
            min-width: 0px;
            width: 100%;
            box-sizing: border-box;
            padding: 15px 10px;
            min-height: calc(100vh - 80px);
            .m-units-list {
                display: none;
            }
            .m-content {
                width: 100%;
                margin: 0;
            }
            .m-preview {
                display: none;
            }
            #unitMain {
                .unit-common {
                    .header {
                        font-size: 14px;
                        height: 28px;
                        line-height: 28px;
                        .icon-zhankaianniu {
                            font-size: 14px;
                        }
                        .icon-shanchu1,
                        .icon-fuzhi,
                        .icon-yidong{
                            visibility: visible;
                            margin-right: 15px;
                        }
                        .icon-iconfontbi{
                            display: none;
                        }
                        .icon-shanchu1{
                            margin-right: 20px;
                        }
                        >input{
                            width: 65px;
                            height: 28px;
                            font-size: 14px;
                            padding: 0;
                        }
                    }
                    .content {
                        width: 100%;
                        >ul{
                            padding: 20px 20px 20px 10px;
                        }
                        >ul>li {
                            >label {
                                width: 20%;
                            }
                            >input {
                                width: 75%;
                                height: 30px;
                                margin: 2px 0;
                                padding: 4px 8px;
                                font-size: 12px;
                            }
                            >ul{
                                width: 75%;
                                input{
                                    font-size: 12px;
                                    vertical-align: middle;
                                }
                                label{
                                    padding-left: 3px;
                                }
                                .label-left{
                                    margin-left: 10px;
                                    label{
                                        padding-right: 4px;
                                        padding-left: 0px;
                                    }
                                    input[type=text] {
                                        width: 35px!important;
                                        height: 30px;
                                        margin: 2px 0;
                                        padding: 4px 5px;
                                        font-size: 12px;
                                    }
                                }
                                .label-left:first-child{
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                }
                .unit-meta .header{
                    padding-left: 15px;
                }
            }
        }
        footer {
            height: 40px;
            .copyright {
                line-height: 40px;
                height: 40px;
            }
        }
    }
}