.m-units-list{
	position: relative;
	width: 8%;
	min-height: 800px;
	border: 1px solid #d6e9c6;
	border-radius: 5px;
	text-align: left;
	color: #337ab7;
	li{
		padding: 10px;
		cursor: pointer;
		font-size: 14px;
		&:hover{
			background: #f5f5f5;
		}
		&:active{
			background: #ceeec7;
		}
		i{
			color: #8a6d3b;
			font-size: 13px;
			margin-right: 8px;
		}
	}
}